* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(/images/banner/banner3.png);
    /* width: 1340px; */
    height: 800px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-text {

    width: 50%;

}

.header-text h1 {
    width: 525px;
    height: 220px;
    font-size: 65px;
    text-align: right;
    color: #FFFFFF;
}

.header-text p {
    font-size: 16px;
    text-align: right;
    width: 494px;
    height: 78px;
    color: #FFFFFF;
    margin-top: 25px;
}

.header-text button {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin-top: 35px;
}


/* main section.......... */

main {
    background-color: darkgray;
    height: 1122px;
    padding: 100px;

}

main h1 {
    text-align: center;
    margin-bottom: 30px;
}

.list-item {
    /* background-color: aqua; */
    padding: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.list-item div {
    width: 50%;
}

.list-item div h1 {
    font-weight: 700;
    font-size: 40px;
    width: 288px;
    height: 94px;
    margin-top: 70px;
}

.list-item div h4 {
    width: 416px;
    height: 104px;
    margin-top: 30px;
}

/* plans itemm.......... */

.plans-item {
    background-color: darksalmon;
    width: 1141px;
    height: 205px;
    display: flex;
    justify-content: space-evenly;

}

.plans-item div {
    text-align: center;
}

.plans-item div h4 {
    color: #737272;
}

/* ......footer......... */

footer {
    background-color: black;
    width: 1600px;
    height: 300px;
    padding: 100px;
    display: flex;
    color: #FFFFFF;
}

footer div {
    width: 50%;
    text-align: left;

}

footer div p {
    margin-top: 20px;
    width: 485px;
    height: 78px;
}

footer div h3 {
    margin-top: 20px;
    margin-bottom: 25px;
}